/* First Page - Home */

.nav-blue {
    background-color: $light_blue;
    color: #fff !important;
 }

.nav-link {
    background-color: $light_blue;
    color: #fff;
    border-color: $hover;
    &:hover {
        background-color: white;
        border-color: $hover;
        color: $hover;
        background: white;
        transition: 0.3s all ease;
    }
}


  body {
    background: #fbfbfd;
  }
  
  .section1 img{
    height:300px;
    width:450px;
    box-shadow: 2px 2px grey;
  }
  
  /* set section 1 background color to grey */
  .section1 container{
	background: #E6EBF1;
  }

	.grid{
    display:flex;
    background-color:light-grey;
    padding:100px;
  }

  .text{
    padding:5px 100px 70px;
  }
  
  .section3 img{
    height:600px;
    width:600px;
    box-shadow: 2px 2px grey;
  }
  
  /* set section 3 background color to grey */
  .section3 container{
	background: #E6EBF1;
  }
  
  .grid{
    display:flex;
    background-color:light-grey;
    padding:100px;
  }
  
  .text1{
    padding:5px 100px 70px;
  }
  
  .text3{
    width: 100%;
    padding:20px 20px 70px;
  }
  
  .text3 p{
    margin-top: 30%
  }
  
  .section2 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  #main-attraction {
    width: 100%;
  }
  
  .s2-text {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .h-s2 {
    color: white;
  }
