/* additional styling for online_sales.html */

/* Ticket name styling */
.tickets {
    font-weight: bold;
}

/* Ticket description styling */
.tickets-content {
    color: #808080;
}

/* Calendar booking section */ 
.calendar {
    background-color: #808080;    
}